<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Placemen</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
   
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="app">
       <ul>
           <li v-for="item in jobs">
                <div v-for="(description, key) in item">
                    <strong>{{key}}</strong>: {{description}}
                </div>
                <div v-for="(element, index) in jobs">
                    <div :class="checkStarIndex(index)"></div>
                    <!-- <i class="fas fa-star"></i> -->
                    <!-- {{index}} -->
                    <!-- <i class="far fa-star"></i> -->
                </div>
                
                <!-- <div>
                    <button>Invia CV</button>
                </div> -->
                
                <hr>
            </li>

       </ul> 


    </div>

    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>