<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Placemen</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
   
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="app">
       <ul>
           <li v-for="(job, index, key) in jobs">
               <div>
                {{ job.position }}
               </div>
               <div>
                {{ job.description }}
               </div>
               <div>
                {{ job.created_at }}
               </div>
               <div>
                {{ job.logo }}
               </div>
               <div>
                {{ job.city }}
               </div>
               <div>
                {{ job.contract }}
               </div>

               <div @click="clickAndAdd(index)" :class="checkStarIndex(index)"> 

               </div>

               <div v-if="index === applied.length">
                   <button>Applay</button>   
               </div>
               <div v-else>
                    <button>fatto</button> 
               </div>
               <hr>

            </li>
       </ul>


    </div>

    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>